.carousel-control-prev-icon,
.carousel-control-next-icon {
  filter: invert(100%); 
}
  
.description-box {
    position: relative;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-top: 80px;
}

.button-delete { 
    position: absolute; 
    top: 15px;
    right: 10px;
}
  
.description-box .price {
    color: #ff0000;
    font-size: 24px;
    margin-bottom: 5px;
}
  
.additional-details {
    padding: 20px;
    margin-top: 5px;
}

.reviewshop,
.info-shop-name,
.description2{
    border: none;
    border-radius: 2px;

}
.description2 h2{
    background-color: #D9D9D9;
}

.info-shop-name h2{
    background-color: #D9D9D9;
    margin-top: 200px;
    padding: 10px;
}

.reviewshop h2{
    background-color: #D9D9D9;
    padding: 10px;
}


.description3{
    
    max-width: 1000px; 
    padding-left: 5px;
    padding-top: 20px;
    font-size: 18px;
    overflow: auto; 
    margin: auto; 
    box-sizing: border-box; 
    border: 1px solid black;
    border-radius: 20px;
}

.Buttom-shop{
    margin-left: 250px;
    color: white;
    background-color: orange;
}

.button-delete {
    background-color: transparent;
    color: black;
    border: 1px solid black;
    transition: background-color 0.3s, color 0.3s;
}

.button-delete:hover {
    background-color: red;
    color: white;
}

.item-name{
    margin-top: 20px;
}

.store-info {
    display: flex;
    align-items: center;
    background-color: #D9D9D9;
    padding: 10px;
}

.logo-container{
    padding-left: 20px;
}

.store-logo {
    border-radius: 50px;
    background-color: white;
    max-width: 100px;
    height: auto;
}

.contact-and-favorite-container {
    display: flex;
    align-items: center;
    flex-grow: 1;
    padding-left: 10px;
}

.contact-info {
    padding-left: 20px;
    padding-right: 20px;
}

.favorite-section {
    display: flex;
    align-items: center;
    margin-bottom: 40px;
    padding-left: 20px;
}
.favorite-button {
    background: none;
    border: none;
    cursor: pointer;
    margin-right: 5px;
    margin-bottom: 10px;
}

.favorite-button.favorited {
    color: red;
}

.favorite-button {
    color: white;
    font-size: 24px;
}

.shop-detail-item h2 {
    font-size: 1rem;
    margin: 0;
    font-weight: normal;
    line-height: 1.5;
}

.shop-details-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.shop-details {
    flex-grow: 1;
    margin-bottom: 20px;
}

.shop-detail-item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    font-size: 24px;
    padding-left: 75px;
}

.icon {
    margin-right: 10px;
}

.map-container {
    width: 300px;
    height: 200px;
    background-color: #EAEAEA;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -200px;
    margin-left: 900px;
    margin-bottom: 50px;
    text-align: center;
    font-size: 24px;
    
}

.map-placeholder {
    width: 100%;
    height: 100%;
}

.img-shop{
    width: 500px;
    height: 500px;
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
}

@media (max-width: 768px) {
    .img-shop{
        width: 400px;
        height: 500px;
        overflow: hidden;
        margin-left: auto;
        margin-right: auto;
    }
}

