/* If you want to control the entire carousel's size */
.carousel {
    width: 400px;
    height: 400px; /* Adjust based on your needs */
    overflow: hidden;
    margin-left: 200px;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  filter: invert(100%); /* This inverts the colors, making white into black */
}

.Container {
    max-width: 1200px;
    margin: auto;
}
  
.description-box {
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-top: 20px;
}
  
.description-box .price {
    color: #ff0000;
    font-size: 24px;
    margin-bottom: 20px;
}
  
.additional-details {
    padding: 20px;
    margin-top: 20px;
}
  
@media (max-width: 767px) {
    .description-box, .additional-details {
      margin-top: 15px;
    }
}
.reviewshop,
.info-shop-name,
.description2{
    border: none;
    border-radius: 2px;
    background-color: #F1F8FB;
}

.description3{
    border: 1px solid black;
    border-radius: 20px;
    width: 500px;
    height: 200px;
    margin: auto;
    padding-top: 20px;
    padding-left: 10px;
    font-size: 18px;
}

.Buttom-shop{
    margin-left: 250px;
    color: white;
    background-color: orange;
}

.store-info {
    display: flex;
    align-items: center;
    background-color: #D9D9D9;
    padding: 10px;
}

.logo-container{
    padding-left: 20px;
}

.store-logo {
    border-radius: 50px;
    background-color: white;
    max-width: 100px;
    height: auto;
}

.contact-and-favorite-container {
    display: flex;
    align-items: center;
    flex-grow: 1;
    padding-left: 10px;
}

.contact-info {
    padding-left: 20px;
    padding-right: 20px;
}

.favorite-section {
    display: flex;
    align-items: center;
    margin-bottom: 40px;
    padding-left: 20px;
}
.favorite-button {
    background: none;
    border: none;
    cursor: pointer;
    margin-right: 5px;
    margin-bottom: 10px;
}

.favorite-button.favorited {
    color: red;
}

.favorite-button {
    color: white;
    font-size: 24px;
}

.shop-detail-item h2 {
    font-size: 1rem;
    margin: 0;
    font-weight: normal;
    line-height: 1.5;
}


@media (max-width: 768px) {
    .store-info {
        flex-direction: column;
    }

    .contact-and-favorite-container {
        flex-direction: column;
        align-items: flex-start;
    }

    .favorite-section {
        order: -1;
        margin-left: 0;
        margin-bottom: 10px; 
    }
}

.shop-details-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.shop-details {
    flex-grow: 1;
}

.shop-detail-item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    font-size: 24px;
    padding-left: 75px;
}

.icon {
    margin-right: 10px;
}

.map-container {
    width: 300px;
    height: 200px;
    background-color: #EAEAEA;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -200px;
    margin-left: 700px;
    margin-bottom: 50px;
    text-align: center;
    font-size: 24px;
    
}

.map-placeholder {
    width: 100%;
    height: 100%;
}


@media (max-width: 768px) {
    .shop-details-container {
        flex-direction: column;
    }

    .map-container {
        width: 100%;
        margin-top: 0;
    }
}