.new-user2{
    margin-left: 150px;
    
}

.new-user2 a {
    color :orange;
}

.password-toggle1 {
    position: absolute;
    right: 35px;
    top: 40.%;
    transform: translateY(-130%);
    cursor: pointer;
  }
  

.Text-p{
    color:gray;
    padding-left: 10px;
}