.login-container {
  width: 800px;
  height: 500px;
  padding: 20px;
  margin: 0 auto;
  border: 1px solid #ccc;
  border-radius: 50px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  position: relative;
  margin-top: 85px;
}

.form-group {
  margin-bottom: 15px;
}

.form-control {
  width: 100%;
}

.btn-primary {
  background-color: #007bff;
  border: none;
}

.btn-primary:hover {
  background-color: #0056b3;
}

.text-center {
  text-align: center;
}

.InfoMu h1 {
  font-weight: bolder;
}

.InfoMu h1::first-letter {
  color: orange;
  font-weight: 700;
}

.custom-img {
  width: 200px;
  height: 200px;
  margin-top: 70px;
  margin-left: 80px;
}

.justify-content-center2 {
  padding-left: 20px;
  padding-top: 10px;
}

.Enter1 {
  margin-top: 30px;
  width: 130px;
  border-radius: 40px;
  height: 45px;
  margin-left: 30px;
}

.forget {
  margin-left: 180px;
  margin-top: -30px;
  font-weight: bold;
  color: gray;
  text-decoration: none;
}

.forget-message {
  font-weight: bold;
  position: relative;
  overflow: hidden;
}

.forget-message::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 2px;
  background: currentColor;
  transition: width 0.3s ease;
}

.forget-message:hover::after {
  width: 22%;
}

.anotherlogin {
  text-align: center;
  margin-top: 30px;
  color: gray;
}

.welcome {
  margin-left: -4px;
  font-weight: bold;
}

.login-message {
  font-size: 13px;
  color: gray;
  margin-top: -5px;
}

.new-user {
  margin-left: 150px;
  color: gray;
}

.new-user a {
  margin-left: 5px;
  color: orange;
  text-decoration: none;
}

.link-regis {
  position: relative;
  overflow: hidden;
}

.link-regis::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 1px;
  background: currentColor;
  transition: width 0.3s ease;
}

.link-regis:hover::after {
  width: 100%;
}

.Login-form {
  border-left: 1px solid black;
  
}


.input-fields {
  position: relative;
}

.password-toggle {
  position: absolute;
  right: 10px;
  top: 115%;
  transform: translateY(-150%);
  cursor: pointer;
}