.register-container {
  width: 800px;
  height: 550px;
  padding: 20px;
  margin: 0 auto;
  border: 1px solid #ccc;
  border-radius: 50px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  position: relative;
  margin-top: 85px;
}

.form-group {
  margin-bottom: 15px;
}

.form-control {
  width: 100%;
}

.btn-primary {
  background-color: #007bff;
  border: none;
}

.btn-primary:hover {
  background-color: #0056b3;
}

.text-center {
  text-align: center;
}

.InfoMu h1 {
  font-weight: bolder;
}

.InfoMu h1::first-letter {
  color: orange;
  font-weight: 700;
}

.custom-img {
  width: 200px;
  height: 200px;
  margin-top: 70px;
  margin-left: 80px;
}

.justify-content-center2 {
  padding-left: 20px;
  padding-top: 10px;
}

.Enter {
  margin-top: 30px;
  width: 130px;
  border-radius: 40px;
  height: 45px;
  margin-left: 5px;
}

.forget {
  margin-left: 180px;
  margin-top: -30px;
  font-weight: bold;
  color: gray;
}

.forget-message {
  font-weight: bold;
}

.anotherlogin {
  text-align: center;
  margin-top: 30px;
  color: gray;
}
.welcome {
  margin-left: -4px;
  font-weight: bold;
}

.new-user2 {
  margin-left: 150px;
  color: gray;
}

.new-user3 {
  margin-left: 5px;
  color: orange;
}

.register-form {
  border-left: 1px solid black;
}

.login-message2 {
  font-size: 13px;
  color: grey;
  margin-top: -5px;
}


#formEmail:focus::placeholder{
    color: transparent;
}

#formPassword:focus::placeholder{
    color: transparent;
}

#formEnterPassword:focus::placeholder{
    color: transparent;
}

#formEnterConfirmPassword:focus::placeholder{
    color: transparent;
}


.password-input {
  position: relative;
}

.password-toggle {
  position: absolute;
  right: 10px;
  top: 115%;
  transform: translateY(-150%);
  cursor: pointer;
}

.Text-p{
  font-size:small;
}


.Enter{
  margin-top: -1px;
}

/* Adjust for full screens */
@media (max-width: 768px) {
  .register-form,
  .footer {
    max-width: 100%;
    margin: 1rem;
  }

  .register-container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
  }


}

/* Adjust for smaller screens */
@media (max-width: 576px) {
  .register-container {
    padding: 1rem;
    min-height: 105vh;
    margin-top: 100px;
    width: 100%;
    padding: 5px;
  }
} 