.reguide-form{
    border: 1px solid #ccc;
    border-radius: 50px;
    padding: 30px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    margin-top: 0.25px;
}

.submit-profile-btn {
    width: 20%;
    background-color: #007bff;
    border: none;
    color: #fff; /* White text */
    padding: 10px;
    border-radius: 1.5rem;
    cursor: pointer;
    transition: background-color 0.2s;
    justify-content: center;
    
}

#f{
  width: 100%;
}

.head {
    text-align: center;
    font-weight: bolder;
}

.form-dob{
    display: flex;
    justify-content: space-between;
}

