.leaflet-container{
    height: 60vh;
    z-index: 1;
    display: flex;
    justify-content: center;
}

.info-marker{
   
    display: flex;
}

.info-marker div {
    z-index: 1050;
    width: 170px;
    height: 40px;
    background-color: white;
    margin:10px 5px 5px 5px;
    border-radius: 20px;
    padding-top: 2px;
    text-align: center;
  }

  .info-marker span{
    text-align: center;
    
  }

