.scroll-dropdown {
  max-width: 600px; 
  max-height: 300px; 
  overflow-y: auto; 
  overflow-x: auto;    
}

.scroll-dropdown .dropdown-menu {
  max-width: 600px;
  overflow-x: hidden;
  overflow-y: auto;
  max-height: 900px;
}

.scroll-dropdown .dropdown-menu .dropdown-item {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.menu-apps {
  border-radius: 100%;
  width: 50px;
  height: 50px;
  border: 1 solid black;
  background-color: #f1f1f1;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.search-wrapper{
  background-color: white;
  box-shadow: 0px 0px 2px black;
  border-radius: 5px;
  margin-right: 100px;
}

.logo {
  height: 150px;
  width: 150px;
}

@media (max-width: 768px) {
  .logo {
    height: 100px;
    width: 100px;
  }
}