.scroll-dropdown {
  max-width: 600px; 
  max-height: 300px; 
  overflow-y: auto; 
  overflow-x: auto;    
}

.scroll-dropdown .dropdown-menu {
  max-width: 600px;
  overflow-x: hidden;
  overflow-y: auto;
  max-height: 900px;
}

.scroll-dropdown .dropdown-menu .dropdown-item {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

