.main-image {
  padding-top: 5px;
  display: flex;
  margin: 5px;
}
.big-image {
  height: 50px;
  width: 1000px;
  border-top-left-radius: 5%;
  border-bottom-left-radius: 5%;
}

.small-image:nth-child(1) {
  height: 300px;
  width: 450px;
  margin: 5px;
  padding-top: 1px;
  margin-left: -15px;
}

.small-image.figure-4 {
  border-bottom-right-radius: 5%;
}

.small-image.figure-3 {
  border-top-right-radius: 5%;
}

.header-row {
  display: flex;
  align-items: center;
}

.header-title {
  flex-grow: 1;
}

.share-button-col {
  white-space: nowrap;
  margin-right: 100px;
  
}



.image-list1{

    margin-left: 10px;
}

.review-section{
     margin : auto;
}

.Video{
  padding-left: 300px;
}

@media (max-width:576px){
  .Video{
    margin: auto;
    padding-left: 1px;
  }

  
}

@media(min-width: 577px) and (max-width: 1200px) {
  .Video{
    margin: auto;
    padding-left: 1px;
  }
}
